.dark {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --secondary-color: #028802;
    --inverted-primary-color: #0339b8;
    --inverted-secondary-color: #2263f7;
}
