.app.dark {
    --bg-color: rgb(15 15 93 / 93%);
    --inverted-bg-color: #f5f5f5;
    --primary-color: rgb(12 170 12 / 86%);
    --secondary-color: rgb(5 202 5 / 82%);
    --inverted-primary-color: rgb(13 13 183);
    --inverted-secondary-color: #185cf7;
}
