.app_violet_theme {
  --bg-color: #f5f4fb;
  --inverted-bg-color: #6248e4;
  --primary-color: #6248e4;
  --secondary-color: #6248e4;
  --inverted-primary-color: #f5f4fb;
  --inverted-secondary-color: #f5f4fb;

  //redesigned
  // redesigned
  --dark-bg-redesigned: #FFF3D6;
  --bg-redesigned: #F0C048;
  --light-bg-redesigned: #F2D791;
  --text-redesigned: #1B1311;
  --hint-redesigned: #B8B2A2;
  --cancel-redesigned: #FF5E5E;
  --save-redesigned: #52FA81;
  --icon-redesigned: #4875F0;
  --accent-redesigned: #1D59FF;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  // card
  --card-bg: #d9d7d7;

  // listbox
  --listbox-bg: #d9d7d7;
}
