.app_violet_theme {
  --bg-color: #f5f4fb;
  --inverted-bg-color: #6248e4;
  --primary-color: #6248e4;
  --secondary-color: #6248e4;
  --inverted-primary-color: #f5f4fb;
  --inverted-secondary-color: #f5f4fb;

  //redesigned
  // redesigned
  --dark-bg-redesigned: #fff3d6;
  --bg-redesigned: #f0c048;
  --light-bg-redesigned: #f2d791;
  --text-redesigned: #1b1311;
  --hint-redesigned: #b8b2a2;
  --cancel-redesigned: #ff5e5e;
  --save-redesigned: #52fa81;
  --icon-redesigned: #4875f0;
  --accent-redesigned: #1d59ff;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  // card
  --card-bg: #d9d7d7;

  // listbox
  --listbox-bg: #d9d7d7;
}
